<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/mwax3000">Venant Mwakio</a>
  </p>
  <br />
  <p>
    Who is returning to coding after 17 years of system administration
  </p>
  <p>
    If you want to learn to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here </a>.
    Also follow the advice splurted <%= link_to 'here', root_path %>.
  </p>


  <div class="row"> 
    <div class="col-12 col-sm-4">
      <%= image_tag 'geekmwax.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 clas="text-center">Venant Mwakio</h2>
      <br />
      <p>
        Venant Mwakio is a software engineer with 17 years of system administration work , including 7 years of service monitoring (telemetry).
      </p>
    </div>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<br />
<br />
<br />
