<h2>
  <span>SPLURTY /No. <%= @quote.id %></span> 
  You are becoming a X10 performer when you.. 

  <br class="clear" />
  <br />
  <br />
  <br />


<h1><%= @quote.saying %></h1>
<h2 class="float-right"><%= @quote.author %></h2>

 <br class="clear" />
 <br />
 <br />
 <br />